@import "tailwindcss";

body {
  background: #0d0d0d;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: white #0d0d0d;
  scrollbar-width: thin;
}

html {
  scroll-behavior: smooth;
}

.fileDropZone {
  width: 100%;
  height: 320;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.proceedButton {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.linkStyle {
  color: #0f9516;
  text-decoration: underline;
}

.linkStyle:hover {
  color: #13bf1c;
  text-decoration: underline;
}

input[type="file"] {
  display: none;
}

.sideColumn {
  float: left;
  width: 20%;
}

.centerColumn {
  float: left;
  width: 60%;
  min-height: 100vh;
  background: #121212;
}

@media (max-width: 768px) {
  .sideColumn {
    display: none;
  }

  .centerColumn {
    width: 100%;
  }

  .layout {
    flex-direction: column;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
