@import "tailwindcss";

body {
  background: #0d0d0d;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.sideColumn {
  float: left;
  width: 20%;
}

.centerColumn {
  float: left;
  width: 60%;
  height: 100vh;
  background: #0f0f0f;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
